@font-face {
  font-family: 'tzy';
/* 字体名自定义即可 */
  src: url("https://image.nickxu.me/ZhuZiAWan.woff2");
/* 字体文件路径 */
  font-display: swap;
}
body,
.gitcalendar {
  font-family: tzy !important;
}
.categoryBar-list {
  max-height: 400px;
}
.clock-row {
  overflow: hidden;
  text-overflow: ellipsis;
}
/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#page-header,
#web_bg {
  -webkit-animation: imgblur 2s 1 ease-in-out;
  animation: imgblur 2s 1 ease-in-out;
}
/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
.table-wrap img {
  margin: 0.6rem auto 0.1rem !important;
}
/* 标签外挂 网站卡片 start */
.site-card-group img {
  margin: 0 auto 0.1rem !important;
}
.site-card-group .info a img {
  margin-right: 10px !important;
}
[data-theme='dark'] .site-card-group .site-card .info .title {
  color: #f0f0f0 !important;
}
[data-theme='dark'] .site-card-group .site-card .info .desc {
  color: rgba(255,255,255,0.7) !important;
}
.site-card-group .info .desc {
  margin-top: 4px !important;
}
/* 代码块颜色 */
figure.highlight pre .addition {
  color: #00bf03 !important;
}
@-moz-keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
@-webkit-keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
@-o-keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
